html, body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  opacity: 0;
  padding: 0 5% 0 5%;
}

body {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

p {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

.btn {
  height: 58px;
  width: 190;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  display: inline-block;
  line-height: 58px;
  text-align: center;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: #C73866;
  border-color: #C73866;
}

.btn-primary:hover {
  background-color: #FDCD75;
  border-color: #FDCD75;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
  background-color: #C7386680;
  border-color: #C7386680;
}

.btn-secondary:hover {
  background-color: #FD8F52;
  border-color: #FD8F52;
}

h2, h3, h1 {
  font-weight: 700;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
}
.loading img {
  padding-top: 105px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#footer {
  background-color: #C73866;
  margin: 0 -6% 0 -6%;
  width: 112%;
  height: 150px;
}
#footer p {
  position: relative;
  top: 55;
}
#footer p, #footer a {
  font-size: 14px;
  color: white;
  text-align: center;
}

.navbar-collapse a {
  font-weight: 700;
  font-size: 20px;
}

.navbar {
  background: white !important;
}
.navbar a {
  font-size: 20px;
  text-align: center;
}
.navbar a:hover {
  color: #FE676E !important;
}
.navbar a:hover .nav-underline {
  height: 5px;
  width: 65px;
  border-radius: 5px;
  background-color: #FD8F52;
  text-align: center;
}
.navbar a.active {
  color: #C73866 !important;
}
.navbar a.active .nav-underline {
  height: 5px;
  width: 67px;
  border-radius: 5px;
  background-color: #de9e28;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.mobile {
  height: max-content !important;
}

.landing-section {
  min-height: 100%;
  height: max-content !important;
  padding-top: 10%;
}

.side-menu-container {
  z-index: 999;
  position: fixed;
  right: -20;
  top: 40%;
}
.side-menu-container ul {
  list-style-type: none;
}
.side-menu-container li {
  margin: 0 0 20px 0;
}
.side-menu-container .menu-dot {
  height: 15px;
  width: 15px;
  background-color: #C7386680;
  border-radius: 7.5px;
}
.side-menu-container .active {
  background-color: #C73866 !important;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #de9e28;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 9999;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1);
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid #de9e28;
  border-width: 0px 0 2px 2px;
}

#landing .desktop {
  padding-bottom: 72px;
  padding-top: 0%;
}
#landing .desktop #landing-left {
  padding-top: 10%;
  opacity: 0;
}
#landing .desktop #landing-left .desc {
  padding-top: 10%;
  max-width: fit-content;
  height: 60%;
}
#landing .desktop #landing-left h2 {
  font-size: 48px;
  line-height: 0px;
}
#landing .desktop #landing-left h1 {
  margin-left: 0;
  font-size: 100px;
}
#landing .desktop #landing-left hr {
  margin-top: 0px;
  height: 3px;
  text-align: left;
}
#landing .desktop #landing-left h3 {
  font-size: 18px;
  text-transform: uppercase;
}
#landing .desktop #landing-right {
  opacity: 0;
}
#landing .desktop #landing-right .container img {
  width: 100%;
  height: 90%;
}
#landing .mobile {
  min-height: 85%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#landing .mobile h1, #landing .mobile h3 {
  text-align: center;
}
#landing .mobile h1 {
  font-size: 10.2vw;
}
#landing .mobile h3 {
  color: #696969;
  font-size: 5vw;
}
#landing .mobile .img-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#landing .mobile .img-container img {
  width: 100%;
  height: 100%;
}

#about {
  background-color: green;
  max-height: max-content !important;
}
#about .build {
  color: #FD8F52;
}
#about .create {
  color: #C73866;
}
#about .desktop .desc {
  max-height: 55vw;
  width: 50%;
  border-radius: 20px;
  background-color: #FBFBFB;
  padding: 50px;
  position: relative;
  bottom: 60vw;
  left: 35vw;
}
#about .desktop .desc h1 {
  font-size: 2.3vw;
}
#about .desktop .desc p {
  font-weight: 400;
  font-size: 16px;
}
#about .mobile h1 {
  font-size: 7.5vw;
  padding-right: 3vw;
}
#about .mobile img {
  margin-top: 3vh;
  width: 100%;
  height: 40vh;
}
#about .mobile p {
  margin-top: 3vh;
}
#about .mobile a {
  width: 100%;
}

#skills {
  display: flex;
}
#skills .skill {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #de9e28;
  border: 1px solid #de9e28;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
#skills .desktop .container {
  padding-left: 9vw;
}
#skills .desktop img {
  padding-left: 3vw;
  width: 80%;
}
#skills .mobile h1 {
  font-size: 36px;
}
#skills .mobile img {
  margin-top: 3vh;
  width: 100%;
  height: 30%;
}
#skills .mobile .skill {
  padding-top: 15px;
  padding-bottom: 15px;
}

#projects .container {
  padding-bottom: 50px;
}
#projects .container .row {
  min-height: 100%;
}
#projects .container h1 {
  text-align: center;
}
#projects .container p {
  text-align: center;
  padding-top: 10px;
}
#projects .container a {
  border-color: #FE676E;
  background-color: #FE676E;
}
#projects .container a:hover {
  background-color: #FD8F52;
  border-color: #FD8F52;
}
#projects .desc h1 {
  font-size: 36px;
}
#projects .desc a {
  width: 150px;
  background-color: white;
  border-color: #FD8F52;
  color: #FD8F52;
}
#projects .desc a:hover {
  border-color: #FE676E;
  color: #FE676E;
  background-color: white;
}
#projects .desc img {
  width: 75px;
  height: 75px;
}
#projects .desc .wider {
  width: 100px;
}

#art {
  padding-top: 8%;
}
#art .container {
  justify-content: center;
  align-items: center;
}
#art .container h1 {
  text-align: center;
}
#art .container #highlight {
  background-color: #FDCD7580;
  font-style: italic;
}
#art .container img {
  width: 100%;
  height: 100%;
}

#speaking img {
  width: 90%;
  height: 97%;
}
#speaking h1 {
  padding-bottom: 30px;
}
#speaking a {
  color: #C73866;
  font-weight: 600;
}

.article-link {
  font-weight: 600;
  color: #C73866;
}

.article-link:hover {
  color: #FD8F52;
}

.about-page {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}
.about-page .fun-fact-category {
  font-weight: 600;
  color: #C73866;
}
.about-page h3 {
  font-size: 20px;
}
.about-page h2 {
  font-size: 36px;
  color: #C73866;
}
.about-page a {
  width: 100%;
}
.about-page .desktop .left-panel {
  align-items-width: 100%;
  align-items-margin-bottom: 5%;
}
.about-page .desktop .left-panel img {
  width: 100%;
  height: 60%;
}
.about-page .mobile {
  width: 100%;
  min-height: 100%;
}
.about-page .mobile .container {
  width: 100%;
}
.about-page .mobile .container a {
  width: 100% !important;
}
.about-page .mobile img {
  width: 100%;
  height: 50%;
}

.portfolio-page {
  padding-bottom: 10%;
  padding-top: 3%;
  padding-top: 3%;
}
.portfolio-page img {
  width: 100%;
  height: 300px;
  opacity: 0.5;
}
.portfolio-page .card-title {
  font-weight: 600;
}
.portfolio-page .card:hover img {
  opacity: 1;
}
.portfolio-page a {
  background-color: white;
  color: #FE676E;
  border-color: #FE676E;
}
.portfolio-page h1 {
  text-align: center;
}

.work-example h1 {
  word-wrap: break-word;
}

/*# sourceMappingURL=style.css.map */
