@use 'variables';

html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    opacity: 0;
    padding: 0 5% 0 5%;
}

body {
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

p {
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
}

.btn {
    height: 58px;
    width: 190;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    display: inline-block;
    line-height: 58px;
    text-align: center;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
    background-color: variables.$primary-color;
    border-color: variables.$primary-color;
}

.btn-primary:hover{
    background-color: variables.$secondary-color;
    border-color: variables.$secondary-color;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: variables.$primary-half-color;
    border-color: variables.$primary-half-color;
}

.btn-secondary:hover{
    background-color: variables.$tertiary-color;
    border-color: variables.$tertiary-color;
}

h2, h3, h1 {
    font-weight: 700;
}

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
    img {
        padding-top: 105px;
        max-width:100%;
        max-height:100%;
        vertical-align: middle;
    }
}

#footer {
    background-color: variables.$primary-color;
    margin: 0 -6% 0 -6%;
    width: 112%;
    height: 150px;
    p {
        position: relative;
        top: 55;
    }
    p, a {
        font-size: 14px;
        color: white;
        text-align: center;
    }
    i {
        font-size: 20px;
    }
}
