$landing-padding: 30px;
$negative-landing-margin: -30px;

$dark-color: 323232;
$primary-color: #C73866;
$primary-half-color: #C7386680;
$secondary-color: #FDCD75;
$secondary-color-lighter: #FDCD7580;
$tertiary-color: #FD8F52;
$quaternary-color: #FE676E;
$gold: #de9e28;
